/* Layout */
.header {
  max-width: 100%;
  min-height: 10vh;
}
.header_nav {
  max-width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.header_h1,
.header_search_div,
.header_buttons {
  height: inherit;
}
.header_h1 {
  flex-basis: 42%;
  display: flex;
  margin-left: 0.5em;
}
#header_h1_img {
  width: 8.5vw;
  min-width: 8rem;
}
.header_h1_p {
  margin-top: 0.4em;
  font-size: max(42px, 2.7vw);
}
.header_search_form {
  flex-basis: 30%;
  display: flex;
  background: none;
}
.header_search_input {
  min-width: 85%;
  max-height: 80%;
  height: 3rem;
  width: 3rem;
  padding-left: 1.1rem;
  font-size: min(20px, 1.56em);
}
.header_search_input::placeholder {
  font-size: min(20px, 1.56em);
}

.header_search_button {
  max-width: 15%;
  margin-left: 0.5rem;
}

.header_buttons {
  flex-basis: 20%;
  display: flex;
  justify-content: space-around;
}

/* Media */
@media (max-width: 59.37rem) and (orientation: portrait) {
  .header_h1 {
    flex-basis: 50%;
  }
  .header_search_form {
    flex-basis: 50%;
  }
}
@media (max-width: 37.5rem) and (orientation: portrait) {
  .header_cart {
    padding: 0 1rem;
  }
}

/* Design */
header {
  color: #fff;
}
.header_search_input {
  border-color: rgba(239, 239, 239, 0.3);
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
}
input::placeholder {
  color: #fff;
}
.header_search_button {
  background: none;
  color: #fff;
  border-radius: 8rem;
  width: 3.1rem;
  height: 2.85rem;
}
.header_search_button:hover {
  background-color: #fff;
  color: black;
}
.header_cart,
.header_login {
  background: none;
  color: #fff;
}
.header_cart {
  border: none;
}
.header_cart_img {
  width: 2rem;
  height: 2rem;
}
.header_login {
  border-radius: 8rem;
  width: 6rem;
  height: 2.7rem;
}
.header_login:hover {
  background-color: #fff;
  color: black;
}
.header_login_p {
  font-size: max(20px, 1.2rem);
}
#header_login_img {
  display: none;
}
